<h5>Make a new poll for your lesson</h5>

<%= form_for [@lesson, @poll] do |f| %>
  <label>Question</label>
  <%= f.text_area :question, placeholder: "Question you wish to ask.  Remember that GitHub markdown is supported.", class: :question %>

  <label>Answer Choices</label>
  <%= f.fields_for :choices do |c| %>
    <%= c.text_area :content, placeholder: "Possible Answer", class: :choice %>
  <% end %>

  <%= f.submit %>
<% end %>
