<div class="poll" data-poll-id="<%= @poll.id %>">
  <div>
    <button class="toggle-active u-pull-right"><%= @poll.active? ? "Close Poll" : "Open Poll" %></button>
    <h3>Poll for <%= link_to @lesson.title, lesson_path(@lesson) %> <span class=" parenthetical poll-status"><%= @poll.active? ? '(open)' : '(closed)' %><span></h3>
  </div>

  <div class="markdown">
    <%= @poll.to_html %>
  </div>

  <% @choices.each_with_index do |choice, i| %>
    <div id='choice-<%= choice.id %>'
      class="choice <%= choice.correct ? 'correct' : 'incorrect' %>">
      <label>Choice <%= i + 1 %><span class='vote-count'></span>
      </label>
      <div class="row">
        <div class="three columns">
          <button class="make-choice u-full-width"
            data-choice-id="<%= choice.id %>">
            Make this correct
          </button>
        </div>
        <div class="nine columns">
          <%= choice.to_html %>
        </div>
      </div>
    </div>
  <% end %>
</div>

<script>
  $('button.toggle-active').on('click', function (e) {
    var button = $(this),
        status = button.siblings().children('.poll-status');

    $.ajax({
      url: "<%= poll_toggle_path(@poll) %>",
      method: "post"
    }).done(function (d) {
      if (button.text() == "Close Poll") {
        status.text('(closed)');
        button.text("Open Poll");
      } else {
        status.text('(open)');
        button.text("Close Poll");
      };
    }).fail(function (d) {

    });
  });

  $('button.make-choice').on('click', function (e) {
    var $choice  = $(this).closest('.choice');
    var choiceId = $(this).data('choice-id');

    $.ajax({
      url: '/choices/' + choiceId + '/mark_correct',
      method: 'POST'
    }).done(function (d) {
      $choice.siblings()
        .removeClass('correct')
        .addClass('incorrect');
      $choice.addClass('correct')
        .removeClass('incorrect');
    }).fail(function (d) {
      console.log("Something broke");
    });
  });

  function updatePoll () {
    var poll      = $('.poll'),
        pollId    = poll.data('poll-id');

    $.ajax({
      url: '/polls/' + pollId + '/stats'
    }).done(function (d) {
      for (var j = 0; j < d.choices.length ; j++) {
        var choiceStats = d.choices[j],
            choiceEl    = $('#choice-' + choiceStats.choice.id),
            choiceCount = choiceEl.find('.vote-count');

        choiceCount.text('Total Votes: ' +
          choiceStats.votes + ', Percentage: ' + choiceStats.vote_percent
        );
      }
    }).fail(function (d) {
      console.log("Something broke");
    });
  };

  // run first, then keep running
  updatePoll();
  setInterval(updatePoll, 2000);
</script>
